.footer {
    background-color: rgb(19, 76, 102);
    color: white;
    padding: 50px 10px;
    margin: 0px;
}

.attributer {
    color: white;
}

.mountains {
    margin-bottom: -30px;
    width: 100%;
    max-height: 300px;
    z-index: -1;
    position: relative;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
}

.fab, .fas {
    margin: 10px;
    margin-bottom: 30px;
    color: white;
}

.fab:hover, .fas:hover {
    color: #343a40;
}