.container-fluid {
    text-align: center;
    justify-content: center;
    margin: 50px 0px;
}

h2 {
    margin: 40px;
}

.myImg {
    height: 400px;
    width: 300px;
    border-radius: 150px;
}

.fab, .fas {
    margin: 10px;
    color: #343a40;
}

.fab:hover, .fas:hover {
    color: darkred;
}